*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-align: center;
	background-color: #fff;
}

a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

/**************************************************************************************************/
.Core, .Content, .Section, 
.Padding, .Border, .Image, .Icon,
.Entry, .Text,
.Nameplate,
.Top, .Between, .Bottom, 
.Left, .Right, .Middle,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.Wrapper
{
	height: 100%;
	margin: 0 auto 0 auto;
	clear: both;
	text-align: left;
}

.Wrapper .Padding
{
	padding: 0 0 0 0;
	clear: both;
}

.microView .Wrapper { width: 468px; }
.tinyView .Wrapper { width: 510px; }
.smallView .Wrapper { width: 714px; }
.largeView .Wrapper { width: 472px; }
.megaView .Wrapper { width: 732px; }

/**************************************************************************************************/
.Content { width: 100%; }

.Content .Padding
{
	padding: 0;
	margin: 0;
}

/**************************************************************************************************/
.Section
{
	width: 100%;
	min-height: 500px;
	clear: both;
}

.Section .Padding { padding: 0; }
.Section .Middle { width: 100%; }

/**************************************************************************************************/
.Core { }
.Core .Padding { padding: 0; }

/**************************************************************************************************/
.Core p
{
	font-size: 100%;
	line-height: 1.4em;
	margin: 0 0 10px 0;
}

.Core p a, .Core p a:active, .Core p a:hover, .Core p a:visited
{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.Core p a:active, .Core p a:hover { border-color: #666; }

/**************************************************************************************************/
.Core .Grid .Padding { padding: 6px 3px 0 3px; }

.Core .Grid ul
{
	margin: 0;
	padding: 0;
}

.Core .Grid ul li .Padding { padding: 0 3px 6px 3px; }

/**************************************************************************************************/
.Core .Text .Padding { padding: 15px 0 15px 0; }

/**************************************************************************************************/
.PixelBox
{
	float: left;
	display: inline;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	height: 10px;
	width: 10px;
	/* background-image: url('brick.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPpJREFUeNqMkDGKg2AUhMdfTROwSLGIRkFtFHERLyCewXvkBN7AQ6S3S0p7+5DG1hSmjIKCiuBbk25hSfarv3nMPC5Jku8oipgoipjnGV3XgTGGYRgwjiO22y0ul8sixHHM+77P8AbP8zjG8zzhA5vNhpggCPgP7PF4YJqmt1LbthCqqnqVlmUZruv+Kd1uN7DntbqukWUZmqb5Jd3vd1yvV/R9D35dLe/3e3Y+n3E6naAoCogIeZ7jeDzCcZxnhpiqqtw6H4fD4VUhDEMYhoE0TREEAdYfwzRNjtd1/UuSJCzLQpqmkWVZtAbJtm3a7XZUliUVRbH8CDAAIfxm6a1bFD0AAAAASUVORK5CYII=');
	/* background-image: url('dot.png'); */
	/* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOxJREFUeNqMkE2KhDAQhVNRQWl14Qm8jPfzLKIILsRTqGvFhT+0jrQixEm6qtuezWw6UOElfLxXVaCUYt8cnS6Cy7KEruu467pc0zQ2DIMMw1AWRaGEEG+wrmuoqspAyN733TzPk03TdPi+/7AsS5DXC2zblnueZ0spbwAg13VleZ7f0I1t2/aDyC8nkOIQMlHKeZ7vaZre4ziWTdOY+M//etR1neEHW5aFRVHEkiR56X/D9H0vx3E8KA7dvAsip41S6AE0cRAEgI0bWZbZFHeZHFgPLKEI+uzRcRzgnGsojatIw2d98O3CnwIMAIJbh/23MNUcAAAAAElFTkSuQmCC'); */
	background-position: center center;
	background-repeat: no-repeat;
}

.PixelBoxOverlay
{
	float: left;
	display: inline;
	position: relative;
	margin: 4px 4px 4px 4px;
	padding: 0;
	height: 3px;
	width: 3px;
	background-color: #000;
	/* opacity: 0.05; */
	/* filter: alpha(opacity=5); */
	/* background-image: url('dot.png'); */
	/* background-position: center center; */
	/* background-repeat: no-repeat; */
	/* border-top-left-radius: 3px; */
	/* border-top-right-radius: 3px; */
	/* border-bottom-left-radius: 3px; */
	/* border-bottom-right-radius: 3px; */
	/* border-top: 1px #666 solid; */
	/* border-right: 1px black solid; */
	/* border-bottom: 1px black solid; */
	/* border-left: 1px #666 solid; */
}

.PixelBoxConatiner
{
	float: left;
	position: relative;
	display: inline;
	/* background-color: black; */
}
