*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-align: center;
	background-color: #fff;
}

a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

/**************************************************************************************************/
.Core,
.Padding,
.PixelBoxWrapper, .PixelBox, .PixelBoxContainer,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.Wrapper
{
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	clear: both;
	text-align: left;
}

.Wrapper .Padding
{
	padding: 0 0 0 0;
	clear: both;
}

.microView .Wrapper { width: 336px; }
.tinyView .Wrapper { width: 510px; }
.smallView .Wrapper { width: 714px; }
.largeView .Wrapper { width: 472px; }
.megaView .Wrapper { width: 732px; }

/**************************************************************************************************/
.Core { }
.Core .Padding { padding: 0; }

/**************************************************************************************************/
.Core .Grid .Padding { padding: 6px 3px 0 3px; }

.Core .Grid ul
{
	margin: 0;
	padding: 0;
}

.Core .Grid ul li .Padding { padding: 0 3px 6px 3px; }

/**************************************************************************************************/
.Core .Text .Padding { padding: 15px 0 15px 0; }

/**************************************************************************************************/
.PixelBox
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 10px;
	width: 10px;
	font-size: 0;
	line-height: 0;
	/* background-image: url('brick.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNp8jwEKwDAIAzVz3f9f3HUSIZN1wtGWJlHdzJw8dZBzMRYXzwH7rinkG5LmPwaLBUTomw4enMlEDPK6B1O7MGSxFAc3m619bV6GFI42D/hZ3dJQiV0IEWbqLhEyY3ILMAC+wAfRv/+3UQAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
}
