html
{
	width: 100%;
	height: 100%;
}

/**************************************************************************************************/
.PixelBox,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.PixelBox
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 10px;
	width: 10px;
	font-size: 0;
	line-height: 0;
	/* background-image: url('brick.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNp8jwEKwDAIAzVz3f9f3HUSIZN1wtGWJlHdzJw8dZBzMRYXzwH7rinkG5LmPwaLBUTomw4enMlEDPK6B1O7MGSxFAc3m619bV6GFI42D/hZ3dJQiV0IEWbqLhEyY3ILMAC+wAfRv/+3UQAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
}
