html, body
{
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
}

/**************************************************************************************************/
a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

hr
{
	border: 0;
	height: 1px;
	margin: 0.75em 0 1.5em 0;
	background-color: #000;
	clear: both;
}

/**************************************************************************************************/
.PixelBox,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.microView,
.tinyView,
.smallView,
.largeView,
.megaView
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/**************************************************************************************************/
.PixelBox
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 10px;
	width: 10px;
	font-size: 0;
	line-height: 0;
	/* background-image: url('brick.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNp8jwEKwDAIAzVz3f9f3HUSIZN1wtGWJlHdzJw8dZBzMRYXzwH7rinkG5LmPwaLBUTomw4enMlEDPK6B1O7MGSxFAc3m619bV6GFI42D/hZ3dJQiV0IEWbqLhEyY3ILMAC+wAfRv/+3UQAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
}
