# Set the default character set.
AddDefaultCharset UTF-8

# Set these access control headers for CORS stuff.
Header set Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "Content-Type, Cache-Control"
Header add Access-Control-Allow-Methods "GET"

# 2022-10-18: Setting various headers.
<IfModule mod_headers.c>

  # 2022-10-18: Setting the X-Frame-Options "SAMEORIGIN" header to prevent iframe embeds.
  Header always set X-Frame-Options "SAMEORIGIN"

  # 2022-11-08: Setting the X-Content-Type-Options header.
  Header always set X-Content-Type-Options "nosniff"

</IfModule>

# Set the options.
Options +FollowSymlinks

# Enable the rewrite engine.
RewriteEngine on

# Only rewrite if the directory or file doesn’t exist on the system.
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

# Ignore these base directories.
RewriteRule   ^(clients|art|projects|css|favicons|script)($|/) - [L]
# RewriteCond %{REQUEST_URI} !^(clients/.*)$ [NC]

# This redirects any call to this directory to an index file with $_GET parameters.
# The 'parent=$1&child=$2&grandchild=$3&greatgrandchild=$4' passes the pathname as an HTML param called 'parent', 'child', 'grandchild' and 'greatgrandchild'.
RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2&grandchild=$3&greatgrandchild=$4 [L,QSA]
RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2&grandchild=$3 [L,QSA]
RewriteRule    ^([A-Za-z0-9-_,\s]+)/([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1&child=$2 [L,QSA]
RewriteRule    ^([A-Za-z0-9-_,\s]+)/?$    index.php?parent=$1 [QSA]
